name: Node CI

on: [push, pull_request]

jobs:
  test:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, macOS-latest, ubuntu-latest]
        node: [18.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js ${{ matrix.node }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node }}
    - name: npm install, build, and test
      run: |
        npm install
        npm run build --if-present
        npm test
      env:
        CI: true
    - name: JSR Publish Test
      run: npm run test:jsr

  emfile_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: npm install and build
      run: |
        npm install
        npm run build --if-present
      env:
        CI: true
    - name: Run EMFILE test
      run: npm run test:emfile
